@model Coupon;

@{
    ViewData["Title"] = "Edit Coupon";
}

<section>
    <h1 class="display-4 mb-3">Edit Coupon</h1>
    <div class="card shadow">
        <div class="card-body">
            <form asp-action="UpdateCoupon" asp-controller="Coupon" asp-route-couponId="@Model.CouponId" method="post">
                <input type="hidden" asp-for="UserId">
                <div class="mb-3">
                    <label class="form-label" asp-for="CouponCode">Coupon Code</label>
                    <input class="form-control" asp-for="CouponCode">
                    <span class="form-text text-warning" asp-validation-for="CouponCode"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Website">Website applicable on</label>
                    <input class="form-control" asp-for="Website">
                    <span class="form-text text-warning" asp-validation-for="Website"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Expiration"></label>
                    <input class="form-control" asp-for="Expiration">
                    <span class="form-text text-warning" asp-validation-for="Expiration"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Description"></label>
                    <textarea class="form-control" asp-for="Description" rows="4"></textarea>
                    <span class="form-text text-warning" asp-validation-for="Description"></span>
                </div>

                @* <div class="mb-3">
                    <label for="IsUsed" class="form-label">Mark Used</label>
                    <input for="IsUsed" class="form-check-input" type="checkbox" />
                </div>

                <div class="mb-3">
                    <label for="IsExpired" class="form-label">Mark Expired</label>
                     <input for="IsExpired" class="form-check-input" type="checkbox" />
                </div> *@

                <div class="mb-3">
                    <label for="TimesUsed" class="form-label">Times Used</label>
                    <input for="TimesUsed" class="form-control" type="number" />
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Add Coupon!</button>
                </div>
            </form>
        </div>
    </div>
</section>