<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/pico.fuchsia.min.css">
    <title>Home Page</title>
</head>

<body>
    <main class="container">
        <nav>
            <ul>
                <li><strong>Razor Deeper Dive</strong></li>
            </ul>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/jinja">Jinja</a></li>
            </ul>
        </nav>
        <h1>Jinja</h1>
        <img src="~/images/jinja.jpg" alt="Jinja lookin' cute." id="jinja" onclick="alertJinja()" />
    </main>
    <script src="~/js/script.js"></script>
</body>

</html>