* {
  font-family: "Balsamiq Sans", sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}
