@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DojoShop©</h1>
    <div class="d-flex justify-content-center gap-2">
        <a href="/products" class="btn btn-lg btn-primary">Go to products</a>
        <a href="/categories" class="btn btn-lg btn-primary">Go to categories</a>
    </div>
</div>
