@{
    ViewData["Title"] = "Result";
}


<div>
    <h2>Submitted Info</h2>
    <p>Name: @ViewBag.Name</p>
    <p>Dojo Location: @ViewBag.Dojo</p>
    <p>Favorite Language: @ViewBag.FavLang</p>
    <p>Comment: @ViewBag.Message</p>
    <a href="/">Return Home</a>
</div>
