@model Wedding;

@{
    ViewData["Title"] = "Add a New Wedding";
}

<section>
    <h1 class="display-4 mb-3">Plan a Wedding!</h1>
    <div class="card shadow">
        <div class="card-body">
            <form asp-action="CreateWedding" asp-controller="Wedding" method="post">
                <input type="hidden" asp-for="UserId">
                <div class="mb-3">
                    <label class="form-label" asp-for="WedderOne">Partner One</label>
                    <input class="form-control" asp-for="WedderOne">
                    <span class="form-text text-warning" asp-validation-for="WedderOne"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="WedderTwo">Partner Two</label>
                    <input class="form-control" asp-for="WedderTwo">
                    <span class="form-text text-warning" asp-validation-for="WedderTwo"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Date"></label>
                    <input class="form-control" asp-for="Date">
                    <span class="form-text text-warning" asp-validation-for="Date"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Address"></label>
                    <input class="form-control" asp-for="Address"></inout>
                    <span class="form-text text-warning" asp-validation-for="Address"></span>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Create!</button>
                </div>
            </form>
        </div>
    </div>
</section>