@{
    ViewData["Title"] = "Movie Dashboard";
}

<div>
    <h1>Welcome to the movie dashboard, @ViewBag.Username!</h1>
    <h2>What would you like to do?</h2>
    <div class="grid">
        <p><a href="/movies">View all movies</a></p>
        <p><a href="/movies/new">Add a movie</a></p>
    </div>
</div>