@{
    ViewData["Title"] = "Movie Dashboard";
}

<div>
    <h1>Welcome to the movie dashboard, @ViewBag.Username!</h1>
    <div class="card bg-info border p-5">
        <h2 class="text-center">What would you like to do?</h2>
        <div class="card-body row justify-content-center">
            <button>
            <a href="/movies" class="text-white btn p-3">View all movies</a>
            </button>
            <button><a href="/movies/new" class="text-white btn p-3">Add a movie</a></button>
        </div>
    </div>
</div>