<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/pico.yellow.min.css">
    <title>Forms</title>
</head>

<body>
    <main class="container">
        <h1>Forms</h1>
        <p>Your form results:</p>
        <p><strong>Username: </strong>@ViewBag.Username</p>
        <p><strong>Email: </strong>@ViewBag.Email</p>
    </main>
</body>

</html>