@{
    ViewData["Title"] = "Question 3";
}

<div>
    <h1 class="display-4 mb-3">Question #3</h1>
    <form action="/process/question-3" method="post" class="card shadow">
        <fieldset class="card-body">
            <legend>
                Which American rock band is known for the hit songs “Hotel California” and “Take It Easy”?
            </legend>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="choice" id="the-eagles" value="The Eagles">
                <label class="form-check-label" for="the-eagles">
                    The Eagles
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="choice" id="fleetwood-mac" value="Fleetwood Mac">
                <label class="form-check-label" for="fleetwood-mac">
                    Fleetwood Mac
                </label>
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Submit Answer</button>
            </div>
        </fieldset>
    </form>
</div>