@{
    ViewData["Title"] = "Question 2";
}

<div>
    <h1 class="display-4 mb-3">Question #2</h1>
    <form action="/process/question-2" method="post" class="card shadow">
        <fieldset class="card-body">
            <legend>
                What year did The Beatles release their groundbreaking album “Sgt. Pepper&rsquo;s Lonely Hearts Club
                Band”?
            </legend>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="choice" id="1965" value="1965">
                <label class="form-check-label" for="1965">
                    1965
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="choice" id="1966" value="1966">
                <label class="form-check-label" for="1966">
                    1966
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="choice" id="1967" value="1967">
                <label class="form-check-label" for="1967">
                    1967
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="choice" id="1968" value="1968">
                <label class="form-check-label" for="1968">
                    1968
                </label>
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Submit Answer</button>
            </div>
        </fieldset>
    </form>
</div>