
@model List<Association>
@{
    var associations = Model;
}
<div class="card shadow">
    <div class="card-body">
        <ul class="list-group list-group-flush">
            @foreach (var association in associations)
            {
                <li class="list-group-item">@association.Product.Name</li>
            }
        </ul>
  </div>
</div>