@model User;
<h1 class="display-6 mb-3 text-white">Register for more!</h1>
<form asp-action="Register" asp-controller="Home" method="post" class="form">
    <div class="mb-3">
        <label class="form-label text-white" asp-for="Username"></label>
        <input class="form-control text-white" asp-for="Username">
        <span class="form-text text-warning" asp-validation-for="Username"></span>
    </div>
    <div class="mb-3">
        <label class="form-label text-white" asp-for="Email"></label>
        <input class="form-control text-white" asp-for="Email">
        <span class="form-text text-warning" asp-validation-for="Email"></span>
    </div>
    <div class="mb-3">
        <label class="form-label text-white" asp-for="Password"></label>
        <input class="form-control text-white" asp-for="Password">
        <span class="form-text text-warning" asp-validation-for="Password"></span>
    </div>
    <div class="mb-3">
        <label class="form-label text-white" asp-for="ConfirmPassword"></label>
        <input class="form-control text-white" asp-for="ConfirmPassword">
        <span class="form-text text-warning" asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="text-end">
        <button type="submit" class="btn text-white">Submit</button>
    </div>
</form>