
<body>
    <div class="container mt-3">
        <!-- Hero Section -->
        <section class="mb-4">
            <div class="row">
                <div class="col-12">
                    <!-- Logo -->
                    <img src="~/images/assets/la.webp" alt="Logo IMage" style="width: 1550px; height: 600px;" class="logo-img shadow img-fluid">

                </div>
            </div>
        </section>
        <!-- Intro Section -->
        <section class="text-center mb-5">
            <h1 class="display-4 fw-bold text-white">An Online Art Journal</h1>
            <p class="lead">Create and manage your own online art journal of your artworks and track your progress as an artist. Connect with other artists and showcase your skills!</p>
            <a href="index" class="btn btn-lg text-white shadow">Start creating!</a>
        </section>

        <!-- Features Section -->
        <section class="row text-center g-4">
            <div class="col-md-4">
                <div class="border rounded-3 p-5 h-100 card shadow">
                    <i class="bi bi-pencil-square fs-1"></i>
                    <h4 class="my-3 text-white">Create and manage your own collections</h4>
                    <p class="mb-0 text-white">Access your dashboard to create and keep track of your art collections.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="border rounded-3 p-5 h-100 card shadow">
                    <i class="bi bi-journal-text fs-1"></i>
                    <h4 class="my-3 text-white">Track your art progress</h4>
                    <p class="mb-0 text-white">Write journal entries for each collection to monitor your growth as an artist.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="border rounded-3 p-5 h-100 card shadow">
                    <i class="bi bi-chat-square-text fs-1"></i>
                    <h4 class="my-3 text-white">Connect and share!</h4>
                    <p class="mb-0 text-white">Share your collections with others! Explore user collections and engage with likes and comments.</p>
                </div>
            </div>
        </section>
    </div>
</body>

