@using SoloProject.ViewModels;
@model IndexPageViewModel;

@{
    var user = Model.User;
    var loginUser = Model.LoginUser;
    ViewData["Title"] = "Index Page";
}
<div>

    @if (ViewBag.Message is not null)
    {
        if (ViewBag.Message == "not-authenticated")
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                You must be logged in to view that page.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        else if (ViewBag.Message == "invalid-credentials")
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Invalid credentials.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    }

    <div class="row mb-5">
        <div class="col-12 col-md-6 mt-4">
            <div class="card shadow mb-3 collection-card">
                <div class="card-body">
                    @await Html.PartialAsync("Partials/_RegisterForm", user)
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mt-4">
            <div class="card shadow collection-card">
                <div class="card-body">
                    @await Html.PartialAsync("Partials/_LoginForm", loginUser)
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>