@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-3">Chefs 'N Dishes!</h1>
    <p class="lead">Welcome! Would you like to visit the chefs page or the dishes page?</p>
    <div class="d-flex gap-2 justify-content-center">
        <a href="/chefs" class="btn btn-lg btn-primary">Chefs</a>
        <a href="/dishes" class="btn btn-lg btn-primary">Dishes</a>
    </div>
</div>
