*,
body,
html {
  font-family: "Balsamiq Sans", sans-serif;
}

.body,
.container,
body {
  background-color: #f1a68c;
}

.navbar,
.card,
.btn {
  background-color: #d26c4bfb;
}

.logo-img {
  height: 450px;
  border-radius: 10px;
  object-fit: fill;
}

.logo {
  height: 100px;
  border-radius: 75%;
}

collection-img {
  height: 700px;
  margin-bottom: 10px;
}

.img {
  height: 300px;
}

.card,
.explore-img {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: justify;
}

.collection-card {
  background: linear-gradient(to top, #f0b69e, #be6a4e);
}

.collection-card1 {
  background-color: #f3bca487;
}
