@model Movie;

@{
    var movie = Model;
    ViewData["Title"] = "Not Found";
}

<section>
    <h1 class="display-4 mb-3">Not Found</h1>

    <p class="lead">Sorry, we could not find that movie.</p>
</section>