@model ViewModel;

<!DOCTYPE html>
<html>

<head>
    <title>User Information</title>
</head>

<body>
    <h1 class="mb-5">Here is a User!</h1>
    <h2>@Model.SelectedUser.Name</h2><img src="~/images/user.png" alt="Icon" style="height: 72px;">
    <h6>©username</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras
        venenatis euismod malesuada. Nulla facilisi. Duis aliquet egestas purus in blandit.
        Facilisi. Vivamus lacinia odio vitae vestibulum vestibulum. Cras
        venenatis euismod malesuada. Nulla facilisi. Duis aliquet egestas purus in blandit. Duis aliquet egestas purus
        in blandit. Dolor aliquet egestas purus in blandit.</p>
    <li> Duis aliquet egestas purus in blandit. </li>
    <li> Ipsum aliquet delor purus in dandum. </li>
    <li> Facilis aliquet egestas folor in solorea. </li>
    <li> Alor aliquet amongud purus in lipsum. </li>
    <li> Venuiso aliquet egestas telora in volarico. </li>
</body>

</html>
