@model ViewModel;

<!DOCTYPE html>
<html>

<head>
    <title>Users Page</title>
</head>

<body>
    <h1>Here are some Users!</h1>
    <ul>
        @foreach (var user in Model.Users)
        {
            <li><a href="/Users/Details?name=@user.Name" class="text-white">@user.Name</a></li>
        }
    </ul>
</body>

</html>
